<a href="https://colab.research.google.com/github/JuliusCaezarEugenio/Demo1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python Programming

In [6]:
  b = "Sally"
  print(b)

Sally

In [10]:
  b = "Sally"
  print(type(b))

<class 'str'>

#Naming Variables

In [11]:
a = 'Sally'
A = "John"
print(a)
print(A)

Sally
John

In [13]:
a, b, c = 0, 1, 2
print(type(a))            #This is a program using typing function
print(b)
print(c)

<class 'int'>
1
2

In [14]:
  a = 4.50
  print(type(a))

<class 'float'>

##One Value to Multiple Variables

In [15]:
  x = y = z = "four"
  print(x)
  print(y)
  print(z)

four
four
four

In [16]:
  x = "enjoying"
  print("Python programming is "+ x)

Python programming is enjoying

In [17]:
x = 4
y = 5
print(x+y)
print(x-y)

9
-1

In [18]:
not(x>y or x==x)      #This is an example of program using logical operator

False